## **This is a Python Class**

In [ ]:
print("Hello World!")

Hello World!

### Variable
Variable is an identifier which holds some value.Variables refers data in a computer memory.  
Python Variable Name Rules:

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* A variable name cannot contain any special character except underscore(_).
* Variable names are case-sensitive (firstname, Firstname, FirstName and FIRSTNAME) are different variables)
* Variable name cannot be with an in-built keyword

In [ ]:
#RULE1
name = "Jagruti"
print(name)
_lastname = "Pawashe"

Jagruti

In [ ]:
#RULE2
num1 = 10
print(num1)
print(num)

10

NameError: name 'num' is not defined

In [ ]:
#RULE3
num_2 = 25
num_3 = 30
print(num_2,num_3)
print(num_3)

25 30
30

In [ ]:
# RULE4
first_name = "Jagruti"

In [ ]:
# RULE5
Firstname = "Jagruti"
firstname = "Riya"
print(firstname)
print(Firstname)

Riya
Jagruti

In [ ]:
# RULE6
try = 20
print(try)

SyntaxError: cannot assign to True (2954359612.py, line 2)

When the Python itself automatically considers the data type of the values it is said to be 'implicit' in nature. When the programmers specifies what kind of data to be present in the variables then it is said to be 'explicit' in nature.

In [ ]:
a = 123456.6789
#print(type(a))

a = "am"
print(type(a))
print(a)

<class 'str'>
am

In [ ]:
a = 123456.6789
print(type(a))
b = int(a)
print(b)
print(type(b))

<class 'float'>
123456
<class 'int'>

In [ ]:
b = "1235.6767"
print(type(b))
c = int(b)
print(c)

<class 'str'>

ValueError: invalid literal for int() with base 10: '1235.6767'

### Built-in functions -
In python there are some pre-defined code logics to perform some specific task.

In [ ]:
a = "Jagruti Pawashe"
print(a)

Jagruti Pawashe

In [ ]:
print("The answer is ",10*5)

The answer is  50

In [ ]:
new = {"name","Jagruti"}
print(new)
type(10+6j)

{'name', 'Jagruti'}

complex

In [ ]:
data = "avbnghb, "
len(data)

9

In [ ]:
name = input("Enter your 1st name:")

Enter your 1st name:Jagruti

In [ ]:
num1 = int(input("enter your no1:"))
print(type(num1))
num2 = int(input("enter your no2:"))
print(type(num2))

print(num1+num2)

enter your no1:20
<class 'int'>
enter your no2:30
<class 'int'>
50

Find the perimeter of triangle where the sides are taken as user input